/* 1111 */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Noto Serif", serif;
}
body {
  /* overflow-x: hidden; */
}
/* nav style */

.nav-item {
  list-style: none;
  margin-right: 30px;
}
.nav-link {
  text-decoration: none;
}

.nav-bar {
  justify-content: space-between;
  max-width: 1140px;
  margin: 0 auto;
  align-items: center;
}

/* shared styles */

.display-flex {
  display: flex;
}

/* shared color */

.color-1 {
  color: rgba(137, 135, 161, 1);
}
.color-2 {
  color: rgba(0, 0, 0, 0.5);
}
.yellow-color {
  color: #e95a08;
}

/* banner */
.banner {
  display: flex;
  align-items: center;
  max-width: 1140px;
  margin: 161px auto;
  align-items: center;
}
.banner-left {
  flex: 1;
}
.banner-right {
  flex: 1;
  text-align: right;
}
.banner h2 {
  font-weight: bold;
  font-size: 4.06rem;
}
.banner p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.37rem;
  margin-top: 13px;
}
.banner-right img {
  max-width: 100%;
  height: auto;
  width: 100%;
  display: block;
}

/* our plants */
/* upper-parts */

.our-pants {
  /* margin-top: 95px; */
  /* margin-top: 10px; */
}
.upper-part h4 {
  font-weight: 1140;
  font-size: 45px;
  margin-bottom: 16px;
}
.upper-part p {
  font-size: 22px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 49px;
}

/* lower-part */

.lower-part .card p {
  font-weight: 500;
  font-size: 1.3rem;
  color: #111111;
  margin-top: 30px;
}
.lower-part .card h3 {
  font-weight: bold;
  font-size: 1.3rem;
}
.btn {
  background-color: #e95a08;
  font-size: 16px;
  font-weight: 600;
  color: aliceblue;
  padding: 19px 87px;
  margin-top: 30px;
  border: none;
}
.lower-part .card img {
  /* height: 270px;
  width: 100%; */
  width: 100%;
  height: auto;
  object-fit: cover;
}
.upper-part {
  text-align: center;
}
.lower-part {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 17px;
}
.card {
  text-align: center;
}
.lilly-flower {
  max-width: 1140px;
  margin: 0 auto;
}

/* <!-- flower and pants lover --> */

/* image section left */

.flower-lover {
  margin-top: 150px;
  padding: 50px;
}
.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1140px;
  gap: 50px;
}
.image-section-left {
  position: relative;
  flex: 1;
}

.main-img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}
.badge {
  position: absolute;
  top: 5px;
  left: 95%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 220px;
}
.content-section-right {
  flex: 1;
}

/* content section right */

.content-section-right {
  flex: 1;
}
.content-section-right h2 {
  font-weight: bold;
  font-size: 3.4rem;
}
.content-section-right ul li {
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 20px;
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.5);
}

/* responsive for mobile */

@media screen and (max-width: 576px) {
  /* nav  */

  .nav-item {
    display: none;
  }
  .nav-item:last-child {
    display: list-item;
  }

  /* banner */

  .banner {
    flex-direction: column-reverse;
  }
  .banner h2 {
    margin-top: 30px;
  }

  .banner-right img {
    display: block;
    object-fit: contain;
  }

  /* Our plants */
  .upper-part{
    
  }

  /* lilly flower ---card  */
  /* .lower-part {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 16px;
  } */

  /* flower */

  /* .main-div {
    flex-direction: column;
  }
  .badge {
    display: none;
  }
  .flower-lover {
    margin-top: 10px;
  } 
}
